<div class="p-3">
<h1>Cursos</h1>
<div class="mb-4">
<button *ngIf="isAdmin$ | async"  (click)="onCreateCourse()" mat-flat-button color="primary" type="button">
    <mat-icon>add</mat-icon>
    <span appCabecera="20px">Alta curso</span>
</button>
</div>
<table mat-table [dataSource]="(data$ | async) || []" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef  appCabecera="20px"> Id </th>
      <td mat-cell *matCellDef="let course"> {{course.id}} </td>
    </ng-container>
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef  appCabecera="20px"> Nombre </th>
        <td mat-cell *matCellDef="let course"> {{course.nombre}} </td>
    </ng-container>
    <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef  appCabecera="20px"> Fecha Inicio </th>
        <td mat-cell *matCellDef="let course"> {{course.fechaInicio | date: 'shortDate'}} </td>
      </ng-container> 
      <ng-container matColumnDef="fechaFin">
        <th mat-header-cell *matHeaderCellDef  appCabecera="20px"> Fecha Fin </th>
        <td mat-cell *matCellDef="let course"> {{course.fechaFin | date: 'shortDate' }} </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef  appCabecera="20px"> Acciones </th>
        <td mat-cell *matCellDef="let course">
          <button mat-icon-button [routerLink]="course.id">
            <mat-icon> visibility </mat-icon>
          </button>
          <button [disabled]="!(isAdmin$ | async)"  mat-icon-button (click)="onEditCourse(course)">
            <mat-icon> edit </mat-icon>
          </button>
          <button [disabled]="!(isAdmin$ | async)"  mat-icon-button (click)="onDeleteCourse(course)">
            <mat-icon> delete </mat-icon>
          </button>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>