<mat-nav-list>
    <a mat-list-item routerLink="home" >Inicio</a>
    <a mat-list-item routerLink="students" >Alumnos</a>
    <a mat-list-item routerLink="courses">Cursos</a>
    <a mat-list-item routerLink="users">Usuarios</a>
    <a mat-list-item (click)="logout()">Cerrar Sesión</a>
</mat-nav-list>


<!--<div class="my-menu" cdkMenu>
    <button class="my-menu-item" cdkMenuItem appCabecera="20px">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
    </button>
    <button class="my-menu-item" cdkMenuItem appCabecera="20px">
        <mat-icon>face</mat-icon>
        <span>Alumnos</span>
    </button>
    <button class="my-menu-item" cdkMenuItem appCabecera="20px">
        <mat-icon>folder</mat-icon>
        <span>Cursos</span>
    </button>
    <button class="my-menu-item" cdkMenuItem appCabecera="20px">
        <mat-icon>manage_accounts</mat-icon>
        <span>Usuarios</span>
    </button>
</div>-->
