<div class="p-3">
    <h1>Profesores</h1>
    <div class="mb-4">
    <button *ngIf="isAdmin$ | async"  mat-flat-button color="primary" type="button" (click)="onCreateTeacher()">
        <mat-icon>add</mat-icon>
        <span appCabecera="20px">Nuevo</span>
    </button>
    </div>
    <table mat-table [dataSource]="(teachers$ | async) || []" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef  appCabecera="20px"> Id </th>
          <td mat-cell *matCellDef="let teacher"> {{teacher.id}} </td>
        </ng-container>
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef  appCabecera="20px"> Nombre </th>
            <td mat-cell *matCellDef="let teacher"> {{teacher | fullName}} </td>
        </ng-container>
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef  appCabecera="20px"> Email </th>
            <td mat-cell *matCellDef="let teacher"> {{teacher.email}} </td>
        </ng-container>  
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef  appCabecera="20px"> Acciones </th>
            <td mat-cell *matCellDef="let teacher">
        <button mat-icon-button [routerLink]="teacher.id">
                    <mat-icon> visibility </mat-icon>
        </button>
       <button [disabled]="!(isAdmin$ | async)" mat-icon-button (click)="onDeleteTeacher(teacher.id)">
                <mat-icon> delete </mat-icon>
            </button>
        </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
